body {
    margin: 50px;
  }
  
  a {
    /* font-family: 'Exo'; */
    cursor: pointer;
  }
  
  .btn {
    display: inline-block;
  }
  
  /* main codes */
  .btn-readmore {
    border: 3px solid #000;
    padding: 8px 25px;
    border-radius: 20px;
    font-weight: bold;
    position: relative;
    background: #02164f;
    box-shadow: 0px 0px 0px 2px #fff;
    color: #fff;
  }
  
  .btn-double-line:after,
  .btn-double-line:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    height: 3px;
  }
  
  .btn-double-line:after {
    bottom: 20px;
    width: 130%;
  }
  
  .btn-double-line:before {
    bottom: 15px;
    width: 160%;
  }
  
  .btn-upper {
    text-transform: uppercase;
  }
  
  /* OPTIONAL: animation */
  .btn-readmore:hover:after {
    animation: move-top 1s linear infinite;
  }
  
  .btn-readmore:hover:before {
    animation: move-bottom 1s linear infinite;
    animation-delay: 0.2s;
  }
  
  @keyframes move-top {
    0% {
      bottom: 20px;
      width: 125%;
    }
    50% {
      bottom: 25px;
      width: 120%;
    }
    100% {
      bottom: 20px;
    }
  }
  
  @keyframes move-bottom {
    0% {
      bottom: 15px;
      width: 155%;
    }
    50% {
      bottom: 19px;
      width: 150%;
    }
    100% {
      bottom: 15px;
    }
  }
  