.main-heading{
    font-size: 10px;
}
.p-energy{
    background: url('./Landing/aboutpage-min.png');
    object-fit: cover;
    background-repeat: no-repeat;
}
.p-abs-pe{
padding-left: 10%;
font-size: 20px;
font-weight: 500;
line-height: 24.82px;
text-align: left;

}
.op-highlights{
    
    background: url('./Landing/operational-hilights.png');
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
}
.tabs-container{
    /* border: 1px solid red; */
}
.chairman{
    z-index: -1;
}
.description{
    z-index: 10;
}
.description-container{
    background: url('./Landing/asset02.png');
}


@font-face {
    font-family: 'DIN Pro';
    src: url('./font/DINPro-Black.woff') format('woff2'),
        url('./font/DINPro-Black.woff2') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('./font/DINPro-BlackItalic.woff2') format('woff2'),
        url('./font/DINPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('./font/DINPro.woff2') format('woff2'),
        url('./font/DINPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('./font/DINPro-Bold.woff2') format('woff2'),
        url('./font/DINPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('./font/DINPro-Italic.woff2') format('woff2'),
        url('./font/DINPro-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('./font/DINPro-Light.woff2') format('woff2'),
        url('./font/DINPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('./font/DINPro-BoldItalic.woff2') format('woff2'),
        url('./font/DINPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('./font/DINPro-Medium.woff2') format('woff2'),
        url('./font/DINPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('./font/DINPro-LightItalic.woff2') format('woff2'),
        url('./font/DINPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('./font/DINPro-MediumItalic.woff2') format('woff2'),
        url('./font/DINPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

