@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
    border: 1px solid red;
}

.marginal{
    width: 87%;
    margin: auto;
}
body{
    overflow-x: hidden;
}

:root{
    font-family: 'DIN Pro';
}
