@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.ptext{
    font-family: "Martel", serif;
}
.bg{
    border: 1px solid red;
}

.marginal{
    width: 87%;
    margin: auto;
}
body{
    overflow-x: hidden;
}

:root{
    font-family: 'DIN Pro';
}
